BOT_TOKEN=8840435597:AAHnVfOLF6Zbt2O8I-sJSLWL--lmC-SsVMs
ADMIN_ID=7495097942
GROQ_API_KEY=your_groq_key
OPENROUTER_API_KEY=your_openrouter_key
GEMINI_API_KEY=your_gemini_key
DEEPSEEK_API_KEY=your_deepseek_key
